*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background: #f6f6f6;
}

form {
  padding: 40px;
  background: #fff;
  border-radius: 8px;
  margin: 80px auto;
}

h1 {
  margin: 10px 0 30px 0;
  text-align: center;
  font-size: 30px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #ffffff;
  color: #565656;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  color: #4d4d4d;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 15px;
  color: #FFF;
  background-color: #5b59d6;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
.fields-wrap{
  position: relative;
}
.fields-wrap label.error {
  font-size: .75rem;
  color: red;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 0;
  position: absolute;
  bottom: 5px;
}
/* .price-selet {
  padding: 1em 0em 0em;
  border-radius: 4px;
} */
/* .price-selet a {
  font-size: 0.9em;
  color: #ffffff;
  display: inline-block;
  padding: 10px 1.5em;
  background: #5b59d6;
  border-radius: 3px;
  width: 150px;
  text-transform: uppercase;
  letter-spacing: .6px;
}
.price-selet a.top-btn-banner {
  background: #fff;
  color: #504ebc;
  width: 200px;
} */

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}